body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  /* border: .1px dotted grey; */
}


img {
    transition:transform 0.4s ease;
}

img:hover {
    -webkit-transform:scale(2); /* or some other value */
    transform:scale(2);
}