body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  /* border: .1px dotted grey; */
}


.projectImg {
    transition:transform 1.5s ease;
}

/* .projectImg:hover {
    -webkit-transform:scale(2.5);  //or some other value 
    transform:scale(2.5); 
} 
*/

div {
  /* background-color: rgba(0, 4, 39, 0.4); */
}